/* ============================================
   FOOTER
============================================ */

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #2f4f4f;
    color: #bbcbcb;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}

.socials img {
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    filter: invert(100%);
}

.copyright {
    font-size: 10px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 20px 0;
        min-height: 12vh;
    }

    .socials img {
        height: 32px;
        width: 32px;
    }
}