.about-wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.about-header {
  display: inline-block;
  margin: auto;
  text-align: center;
  font-size: 30px;
  height: 85vh;
  align-content: center;
}

.about-wrapper h2 {
  margin: 0px;
  padding: 0px;
}

.about-title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid #18020C; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s infinite normal;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #18020C;
  }
}

.name {
  display: inline;
  color: #BBCBCB;
}

.about-me-btn {
  font-size: 20px;
  width: 180px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
  border-radius: 5px;
  border: 2px solid #18020C;
  background-color: white;
  padding: 10px 30px;
  cursor: pointer;
}

.about-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #2f4f4f;
}

.left-side {
  width: 35rem;
  text-align: left;
  background-color: #959595;
  opacity: 100%;
  padding: 25px 20px;
  box-shadow: 25px 25px #18020C;
}

.left-side p {
  color: white;
  line-height: 2;
  word-spacing: 1.25;
  font-weight: 500;
}

.experience-btn {
  font-size: 20px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
  border-radius: 5px;
  border: 2px solid #18020C;
  background-color: white;
  padding: 10px 30px;
  cursor: pointer;
}

.body-header {
  color: white;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 1px solid white;
  width: 30%;
  padding: 5px 0px;
}

.profile-pic {
  border: 5px solid black;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.profile-pic img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.experience {
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.experience-title {
  border-bottom: 2px solid black;
  width: 70%;
  margin: 0px auto;
}

.experience-body {
  margin: 35px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;;
}

.body-wrapper {
  background-color: darkslategray;
  color: white;
  margin: 0px 5px;
  padding: 0px 5px 10px 5px;
}

.wrapper-info {
  font-size: 15px;
  text-align: left;
  width: 400px;

  li {
    margin: 10px 0px;
  }
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  height: 35px;
  width: 35px;
  border-radius: 2px;
  margin: 0px 10px;
}

.logo img {
  filter: invert(100%);
  height: 35px;
  width: 35px;
}

.projects {
  height: 300vh;
  background-color: #2f4f4f;
}

.projects-title {

  h1 {
    margin: 0px;
    padding: 20px;
    color: #BBCBCB;
  }
}

.projects-body {
  display: flex;
  flex-direction: column;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  height: 90vh;
  width: 95vw;
  background-color: #BBCBCB;
}

.temp-img {
  width: 500px;
  height: 500px;
  background-color: #808080;
}

.contact {
  height: 70vh;
  align-content: center;
}

.contact-title {
  border-bottom: 2px solid #2f4f4f;
  width: 120px;
  margin: 0 auto;
}

.contact-body {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0px auto;
  text-align: left;

  input {
    font: inherit;
    font-size: 15px;
    margin: 2px;
    padding: 10px;
    border: none;
    background-color: rgb(193, 193, 193);
  }

  textarea {
    font: inherit;
    font-size: 15px;
    margin: 2px;
    padding: 10px;
    resize: none;
    height: 100px;
    border: none;
    background-color: rgb(193, 193, 193);
  }

  button {
    font: inherit;
    text-transform: uppercase;
    border: none;
    background-color: white;
    margin: 3px 2px;
    padding: 10px;
    width: 90px;
    align-self: end;
  }

  button:hover {
    cursor: pointer;
    border-radius: 5px;
    color: #BBCBCB;
    background-color: #2f4f4f;
    transition: 0.75s ease;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #2f4f4f;
  color: #BBCBCB;
}

.socials {
  display: flex;

  img {
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    filter: invert(100%);
  }
}

.copyright {
  font-size: 10px;
  font-weight: 500;
}