.app-header {
    background-color: rgb(253, 245, 234);
    color: black;
    font-size: 25px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0px;
    width: 100%;
}

.app-header button {
    text-transform: uppercase;
    margin: 0px 10px;
    padding: 10px 0px;
    background-color: rgb(253, 245, 234);
}

.app-header button:hover {
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
    transition: 0.25s ease;
}

.app-name {
    font-weight: bold;
    margin: 25px;
    text-align: center;
}