.app-header {
    background-color: antiquewhite;
    color: black;
    font-size: 25px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0px;
    width: 100%;
}

button {
    background-color: antiquewhite;
}

.app-name {
    font-weight: bold;
    margin: 25px;
    text-align: center;
}