.photo-gallery {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
}

.block {
    opacity: 50%;
    background-color: grey;
    width: 250px;
    height: 300px;
    margin: 5px;
}