.photo-gallery {
    display: grid;
    grid-template-columns: repeat(5, auto);
    /* justify-content: space-evenly; */
}

.block {
    background-color: grey;
    width: 250px;
    height: 350px;
}

.block:hover {
    background-color: gray;
    opacity: 50%;
}

img {
    width: 250px;
    height: 350px;
}